<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
    <head>
    <% include partials/page/head.ejs %>
    </head>
    <body>
        <% include partials/page/admin-content.ejs %>

        <!-- Apps Modal -->
        <% include partials/page/apps-modal.ejs %>
        <!-- END Apps Modal -->

        <!-- Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
        <% include partials/page/jsdefaults.ejs %>

    </body>
</html>