## SuperMesh hostapd.conf
ddns-update-style none;
authoritative;
log-facility local7;


subnet {{Subnet}} netmask {{Netmask}} {
 option routers {{#Routers}}{{router1}}{{/Routers}};
 option subnet-mask {{Netmask}};
 option broadcast-address {{BroadcastAddr}};
 option domain-name-servers {{#DNS}}{{dns1}}, 8.8.8.8{{/DNS}};
 default-lease-time 600;
 max-lease-time 7200;
 range {{#Range}}{{start}} {{end}}{{/Range}};
}

subnet 172.16.10.0 netmask 255.255.255.0 {
 option routers 172.16.10.1;
 option subnet-mask 255.255.255.0;
 option broadcast-address 172.16.10.255;
 option domain-name-servers 172.16.10.1;
 option domain-name "eth2.lan";
 default-lease-time 600;
 max-lease-time 7200;
 range 172.16.10.10 172.16.10.100;
}

# SuperMesh Subnet
subnet {{Subnet}} netmask {{Netmask}} {
	range {{#Range}}{{start}} {{end}}{{/Range}};
	option routers {{#Routers}}{{router1}}, {{router2}}{{/Routers}};
}
