                    <!-- eth0 Form -->
                    <form class="form-horizontal push-10-t push-10" id="FormNetSettings" onsubmit="return false;">
                    <div class="col-md-12">
                    <div class="block block-themed">
                        <div class="block-header bg-primary">
                            <!--<ul class="block-options">
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="network"><i class="si si-refresh"></i></button>
                                </li>
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                                </li>
                            </ul>-->
                            <h3 class="block-title">DHCPD: wlan0 and eth0 <small></small></h3>
                        </div>


                        <div class="block-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="col-xs-6">
                                                <div class="form-material">
                                                <input class="form-control input-lg" type="text" id="dhcpd_primary_dns" name="dhcpd_primary_dns" placeholder="e.g. example.org">
                                                <label for="dhcpd_primary_dns">Primary DNS</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-material">
                                                <input class="form-control input-lg" type="text" id="dhcpd_secondary_dns" name="dhcpd_secondary_dns" placeholder="e.g. 192.168.10.1">
                                                <label for="dhcpd_secondary_dns">Secondary DNS</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="form-material">
                                                <input class="form-control input-lg" type="text" id="dhcpd_subnet" name="dhcpd_subnet" placeholder="e.g. 192.168.10.0">
                                                <label for="dhcpd_subnet">Subnet</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="form-material">
                                                <input class="form-control input-lg" type="text" id="dhcpd_netmask" name="dhcpd_netmask" placeholder="e.g. 255.255.255.0">
                                                <label for="dhcpd_netmask">Netmask</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-6">
                                                <div class="form-material">
                                                <input class="form-control input-lg" type="text" id="dhcpd_range_start" name="dhcpd_range_start" placeholder="e.g. 192.168.10.10">
                                                <label for="dhcpd_range_start">Range Start</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-material">
                                                <input class="form-control input-lg" type="text" id="dhcpd_range_end" name="dhcpd_range_end" placeholder="e.g. 192.168.10.100">
                                                <label for="dhcpd_range_end">Range End</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-6">
                                                <div class="form-material">
                                                <input class="form-control input-lg" type="text" id="dhcpd_primary_router" name="dhcpd_primary_router" placeholder="e.g. 192.168.10.1">
                                                <label for="dhcpd_primary_router">Primary Gateway</label>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-material">
                                                <input class="form-control input-lg" type="text" id="dhcpd_secondary_router" name="dhcpd_secondary_router" placeholder="e.g. 192.168.10.2">
                                                <label for="dhcpd_secondary_router">Secondary Gateway</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    </div>
                    <!-- END eth0 Form -->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-xs-12" style="text-align: center;">
                                    <button id="BtnUpdateDhcpdSettings" class="btn btn-info" type="submit">Update</button> 
                                    <button id="BtnRestartDhcpd" class="btn btn-warning" type="submit">Restart DHCPD Service</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    <!-- END wlan1 Form -->
                    <script src="/js/jquery.min.js"></script>
                    <script src="/js/dhcpd.js"></script>
                    