                    <!-- Icon Tiles -->
                    <h2 class="content-heading">Decentralized Apps</h2>
                    <div class="content-grid push-50">
                        
                        <!-- Row 1 -->
                        <div class="row">
                        <script>
                            function myFunction() {
                            var x = window.location.hostname;
                            location.href = "http://"+x+":7876";
                        }
                        </script>
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <a class="block block-link-hover3 text-center" onclick="myFunction()">
                                    <div class="block-content block-content-full">
                                        <i class="fa-4x text-primary-darker">
                                            <img src="/assets/img/various/NXT-logo-small.png">
                                        </i>
                                        <div class="font-w600 push-15-t">NXT Full Client</div>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <a class="block block-link-hover3 text-center" onclick="myFunction()">
                                    <div class="block-content block-content-full">
                                        <i class="fa-4x text-primary-darker">
                                            <img src="/assets/img/various/supernet-logo-small.png">
                                        </i>
                                        <div class="font-w600 push-15-t">SuperNet Lite Client</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <a class="block block-link-hover3 text-center" onclick="myFunction()">
                                    <div class="block-content block-content-full">
                                        <i class="fa-4x text-primary-darker">
                                            <img src="/assets/img/various/nxtfreemarket-logo-small.png">
                                        </i>
                                        <div class="font-w600 push-15-t">NXT FreeMarket</div>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <a class="block block-link-hover3 text-center" onclick="myFunction()">
                                    <div class="block-content block-content-full">
                                        <i class="fa-4x text-primary-darker">
                                            <img src="/assets/img/various/NXT-Jay-logo-small.png">
                                        </i>
                                        <div class="font-w600 push-15-t">Jay NRS NXT Client</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <a class="block block-link-hover3 text-center" onclick="myFunction()">
                                    <div class="block-content block-content-full">
                                        <i class="fa-4x text-primary-darker">
                                            <img src="/assets/img/various/InstantDEX-logo-small.png">
                                        </i>
                                        <div class="font-w600 push-15-t">InstantDEX</div>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <a class="block block-link-hover3 text-center" onclick="myFunction()">
                                    <div class="block-content block-content-full">
                                        <i class="fa-4x text-primary-darker">
                                            <img src="/assets/img/various/NXT-Vapor-logo-small.png">
                                        </i>
                                        <div class="font-w600 push-15-t">NXT Vapor Wallet</div>
                                    </div>
                                </a>
                            </div>
                            
                            
                    </div>
                    <!-- Row 1 -->    
                        
                    <!-- Row 2 -->
                    <div class="content-grid push-50">
                        <div class="row">
                        <script>
                            function myFunction() {
                            var x = window.location.hostname;
                            location.href = "http://"+x+":7876";
                        }
                        </script>
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <a class="block block-link-hover3 text-center" onclick="myFunction()">
                                    <div class="block-content block-content-full">
                                        <i class="fa-4x text-primary-darker">
                                            <img src="/assets/img/various/NXT-logo-small.png">
                                        </i>
                                        <div class="font-w600 push-15-t">NXT JayEx</div>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <a class="block block-link-hover3 text-center" onclick="myFunction()">
                                    <div class="block-content block-content-full">
                                        <i class="fa-4x text-primary-darker">
                                            <img src="/assets/img/various/NEM-logo-small.png">
                                        </i>
                                        <div class="font-w600 push-15-t">NEM Client</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <a class="block block-link-hover3 text-center" onclick="myFunction()">
                                    <div class="block-content block-content-full">
                                        <i class="fa-4x text-primary-darker">
                                            <img src="/assets/img/various/OpenBazaar-logo-small.png">
                                        </i>
                                        <div class="font-w600 push-15-t"><b>Open</b>Bazaar</div>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <a class="block block-link-hover3 text-center" onclick="myFunction()">
                                    <div class="block-content block-content-full">
                                        <i class="fa-4x text-primary-darker">
                                            <img src="/assets/img/various/EtherEX-Dark-logo-small.png">
                                        </i>
                                        <div class="font-w600 push-15-t">Ethereum EtherEx</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-6 col-sm-4 col-lg-2">
                                <a class="block block-link-hover3 text-center" href="/admin">
                                    <div class="block-content block-content-full">
                                        <i class="fa-4x text-primary-darker">
                                            <img src="/assets/img/various/Control-Center-logo-small.png">
                                        </i>
                                        <div class="font-w600 push-15-t">Control Center</div>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="col-xs-6 col-sm-4 col-lg-2" style="display:none;">
                                <a class="block block-link-hover3 text-center" onclick="myFunction()">
                                    <div class="block-content block-content-full">
                                        <i class="fa-4x text-primary-darker">
                                            <img src="/assets/img/various/NXT-Vapor-logo-small.png">
                                        </i>
                                        <div class="font-w600 push-15-t">NXT Vapor Wallet</div>
                                    </div>
                                </a>
                            </div>
                            
                            
                    </div>
                    <!-- Row 2 -->
                    </div>
                    <!-- END Icon Tiles -->

                    <!-- One Row Tiles -->
                    <h2 class="content-heading">Quick Enable/Disable Services</h2>
                    <div class="content-grid push-50">
                        <!-- Colored Tiles -->
                        <div class="row">
                            <div class="col-lg-4">
                                <a class="block block-link-hover1" href="javascript:void(0)">
                                    <div class="block-content block-content-full clearfix">
                                        <div class="col-xs-6">
                                        <span class="h4 font-w700">cjdns (MeshNet)</span><br>
                                        </div>
                                        <div class="col-xs-6">
                                            <label class="css-input switch switch-sm switch-success pull-right">
                                                <input type="checkbox" checked><span></span>
                                            </label>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a class="block block-link-hover1" href="javascript:void(0)">
                                    <div class="block-content block-content-full clearfix">
                                        <div class="col-xs-6">
                                        <span class="h4 font-w700">TOR</span><br>
                                        </div>
                                        <div class="col-xs-6">
                                            <label class="css-input switch switch-sm switch-success pull-right">
                                                <input type="checkbox"><span></span>
                                            </label>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4">
                                <a class="block block-link-hover1" href="javascript:void(0)">
                                    <div class="block-content block-content-full clearfix">
                                        <div class="col-xs-6">
                                        <span class="h4 font-w700">DNSChain</span><br>
                                        </div>
                                        <div class="col-xs-6">
                                            <label class="css-input switch switch-sm switch-success pull-right">
                                                <input type="checkbox" checked><span></span>
                                            </label>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- END Colored Tiles -->
                    </div>
                    <!-- END One Row Tiles -->