                    <!-- iptables Form -->
                    <div class="col-md-12">
                    <div class="block block-themed">
                        <div class="block-header bg-primary">
                            <!--<ul class="block-options">
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="network"><i class="si si-refresh"></i></button>
                                </li>
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                                </li>
                            </ul>-->
                            <h3 class="block-title" style="text-transform: none;">Namecoin Service <small>(Distributed DNS Service)</small></h3>
                        </div>


                        <div class="block-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label class="css-input switch switch-sm switch-primary"><input id="enable_Namecoin_service" type="checkbox" checked=""><span></span> Enable Namecoin Service</label>
                                            </div>
                                        </div>

                                        
                                        <div class="form-group">
                                            <div class="col-xs-6 push-10-t">
                                                <div class="form-material">
                                                <input class="form-control input-lg" type="text" id="rpc_user" name="rpc_user" placeholder="">
                                                <label for="rpc_user">RPC User</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-6 push-10-t">
                                                <div class="form-material">
                                                <input class="form-control input-lg" type="text" id="rpc_pass" name="rpc_pass" placeholder="">
                                                <label for="rpc_pass">RPC Password</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                        </div>
                    </div>
                    </div>
                    <!-- END iptables Form -->


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-xs-12" style="text-align: center;">
                                    <button id="BtnUpdateNMCSettings" class="btn btn-info" type="submit">Update</button>
                                    <button id="BtnRestartNMCService" class="btn btn-warning" type="submit">Restart Namecoin Service</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    <!-- END wlan1 Form -->
                    <script src="/js/jquery.min.js"></script>
                    <script src="/js/namecoin.js"></script>