                    <!-- iptables Form -->
                    <div class="col-md-12">
                    <div class="block block-themed">
                        <div class="block-header bg-primary">
                            <!--<ul class="block-options">
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="network"><i class="si si-refresh"></i></button>
                                </li>
                                <li>
                                    <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                                </li>
                            </ul>-->
                            <h3 class="block-title" style="text-transform: none;">NCDNS Service <small>(Distributed DNS Service)</small></h3>
                        </div>


                        <div class="block-content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label class="css-input switch switch-sm switch-primary"><input id="enable_ncdns_service" type="checkbox" checked=""><span></span> Enable NCDNS Service</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    </div>
                    <!-- END iptables Form -->


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-xs-12" style="text-align: center;">
                                    <button id="BtnUpdateNCDNSSettings" class="btn btn-info" type="submit">Update</button>
                                    <button id="BtnRestartNCDNSService" class="btn btn-warning" type="submit">Restart NCDNS Service</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    <!-- END wlan1 Form -->
                    <script src="/js/jquery.min.js"></script>
                    <script src="/js/ncdns.js"></script>