                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-xs-12" style="text-align: center;">
                                    <button id="BtnUpdateNCDNSSettings" class="btn btn-info" type="submit">Update</button>
                                    <button id="BtnRestartNCDNSService" class="btn btn-warning" type="submit">Restart NCDNS Service</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    <!-- END wlan1 Form -->
                    <script src="/js/jquery.min.js"></script>
                    <script src="/js/ncdns.js"></script>