                <div class="content bg-white border-b">
                    <div class="row items-push text-uppercase">
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker">Internet Connection</div>
                            <div class="text-success"><small><i class="fa fa-check-circle"></i> Online</small></div>
                            <div class="h5 font-w300 text-primary">Local IP: <span id="local_ip">192.168.10.1</span></div>
                            <div class="h5 font-w300 text-primary">Public IP: <span id="public_ip">123.13.14.150</span></div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker">MeshNet Connection</div>
                            <div class="text-success"><small><i class="fa fa-check-circle"></i> Online</small></div>
                            <div class="h5 font-w300 text-primary">IPv6: <span id="cjdns_ip">fc5d:baa5:61fc:6ffd:9554:67f0:e290:7535</span></div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker">TOR Connection</div>
                            <div class="text-danger"><small><i class="fa fa-check-circle"></i> Offline</small></div>
                            <div class="h5 font-w300 text-primary">IP: <span id="public_ip_tor">192.168.10.1</span></div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker">TOR Proxy</div>
                            <div class="text-success"><small><i class="fa fa-check-circle"></i> Online</small></div>
                            <div class="h5 font-w300 text-primary">IP: <span id="tor_proxy_ip">192.168.10.1</span></div>
                        </div>
                    </div>
                </div>
