                <div class="content bg-white border-b">
                    <div class="row items-push text-uppercase">
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker">Internet Connection</div>
                            <div class="text-danger" id="public_ip_div"><small><i class="fa fa-times-circle" id="public_ip_icon"></i> <span id="public_ip_status">Offline</span></small></div>
                            <div class="h6 font-w300 text-primary"><strong>LAN IP:</strong> <span id="lan_ip"> -- </span></div>
                            <div class="h6 font-w300 text-primary"><strong>WAN IP:</strong> <span id="wan_ip"> -- </span></div>
                            <div class="h6 font-w300 text-primary"><strong>Public IP:</strong> <span id="public_ip"> -- </span></div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker">MeshNet Connection</div>
                            <div class="text-danger" id="mesh_ip_div"><small><i class="fa fa-times-circle" id="mesh_ip_icon"></i> <span id="mesh_ip_status">Offline</span></small></div>
                            <div class="h6 font-w300 text-primary"><strong>IPv4:</strong> <span id="cjdns_ip4"> -- </span></div>
                            <div class="h6 font-w300 text-primary"><strong>IPv6:</strong> <span id="cjdns_ip6"> -- </span></div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker">TOR Connection</div>
                            <div class="text-danger" id="tor_ip_div"><small><i class="fa fa-times-circle" id="tor_ip_icon"></i> <span id="tor_ip_status">Offline</span></small></div>
                            <div class="h6 font-w300 text-primary"><strong>IP:</strong> <span id="public_ip_tor"> -- </span></div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker">TOR Proxy</div>
                            <div class="text-danger" id="tor_proxy_ip_div"><small><i class="fa fa-times-circle" id="tor_proxy_ip_icon"></i> <span id="tor_proxy_ip_status">Offline</span></small></div>
                            <div class="h6 font-w300 text-primary"><strong>IP:</strong> <span id="tor_proxy_ip"> -- </span></div>
                        </div>
                    </div>
                </div>
