                <!-- Page Header -->
                <div class="content bg-image overflow-hidden" style="background-image: url('/assets/img/photos/colorful.jpg');">
                    <div class="push-50-t push-15">
                        <h1 class="h2 text-white animated zoomIn">Dashboard</h1>
                    </div>
                </div>
                <!-- END Page Header -->