                        <div class="block-content">
                            <p></p>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-xs-12" style="text-align: right;">
                                            <button id="RefreshUSBStorage" class="btn btn-warning" type="submit"><i class="fa fa-refresh"></i> Refresh USB Storage</button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            <!--<table class="table table-striped table-vcenter" id="usbstoragelist">
                                <thead>
                                    <tr>
                                        <th style="width: 40%;">USB Device</th>
                                        <th class="hidden-xs" style="width: 20%;">Logical Name</th>
                                        <th class="hidden-xs hidden-sm" style="width: 20%;">Size</th>
                                        <th class="text-center" style="width: 100px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>-->
                            <div id="storage-blocks" class="push-20-t">
                        
                            </div>
                        </div>
                    <script src="/js/jquery.min.js"></script>
                    <script src="/js/storage.js"></script>