                        <div class="block-content">
                            <p></p>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-xs-12" style="text-align: center;">
                                            <button id="BtnRestartWiFi" class="btn btn-warning" type="submit">Restart WiFi Service</button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            <table class="table table-striped table-vcenter" id="wifilist">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;"><i class="fa fa-signal"></i></th>
                                        <th>SSID</th>
                                        <th class="hidden-xs" style="width: 30%;">Frequency</th>
                                        <th class="hidden-xs hidden-sm" style="width: 15%;">Security</th>
                                        <th class="text-center" style="width: 100px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>

                        <script src="/js/jquery.min.js"></script>
                        <script src="/js/wifi.js"></script>