                        <div class="block-content">
                            <p><strong>Connect to WiFi hotspot around you.</strong> On this page you'll find a list of WiFi signals your device is picking. If connecting to a secure WiFi with WPA/WPA2 security you'll get prompted to enter password. Enter the password and click OK. Wait for a minute and this screen will referesh in a moment showing you are connected to which WiFi hotspot.</p><p> If you are not connected, the upper whiteboard will either show 'Not Connected', or keep showing old Access Point's name.</p><p>In any case you think it's not responding, just restart SuperMesh device and wait for a minute or two to let it restart. Then try again. This should certainly fix the issues. If not please contact ____</p>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-xs-12" style="text-align: right;">
                                            <button id="BtnRestartWiFi" class="btn btn-warning" type="submit">Restart WiFi Service</button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            <table class="table table-striped table-vcenter" id="wifilist">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;"><i class="fa fa-signal"></i></th>
                                        <th>SSID</th>
                                        <th class="hidden-xs" style="width: 30%;">Frequency</th>
                                        <th class="hidden-xs hidden-sm" style="width: 15%;">Security</th>
                                        <th class="text-center" style="width: 100px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>

                        <script src="/js/jquery.min.js"></script>
                        <script src="/js/wifi.js"></script>