                        <div class="block-content">
                            <p></p>
                            <table class="table table-striped table-vcenter" id="wifilist">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;"><i class="fa fa-signal"></i></th>
                                        <th>SSID</th>
                                        <th class="hidden-xs" style="width: 30%;">Frequency</th>
                                        <th class="hidden-xs hidden-sm" style="width: 15%;">Security</th>
                                        <th class="text-center" style="width: 100px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>

                        <script src="/js/jquery.min.js"></script>
                        <script src="/js/wifi.js"></script>