                        <div class="block-content">
                            <p>The second way is to use specific CSS classes for hiding columns in various screen resolutions. This way you can hide the less important columns and keep the most valuable on mobiles. At the following example the <strong>Access</strong> column isn't visible on small and extra small screens and <strong>Email</strong> column isn't visible on extra small screens.</p>
                            <table class="table table-striped table-vcenter">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 120px;"><i class="fa fa-signal"></i></th>
                                        <th>SSID</th>
                                        <th class="hidden-xs" style="width: 30%;">Frequency</th>
                                        <th class="hidden-xs hidden-sm" style="width: 15%;">Security</th>
                                        <th class="text-center" style="width: 100px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <img class="img-avatar img-avatar48" src="assets/img/avatars/avatar10.jpg" alt="">
                                        </td>
                                        <td class="font-w600">Example SSID</td>
                                        <td class="hidden-xs">client1@example.com</td>
                                        <td class="hidden-xs hidden-sm">
                                            <span class="label label-info">Business</span>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="" data-original-title="Remove Client"><i class="fa fa-times"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <img class="img-avatar img-avatar48" src="assets/img/avatars/avatar12.jpg" alt="">
                                        </td>
                                        <td class="font-w600">Example SSID</td>
                                        <td class="hidden-xs">client2@example.com</td>
                                        <td class="hidden-xs hidden-sm">
                                            <span class="label label-primary">Personal</span>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="" data-original-title="Remove Client"><i class="fa fa-times"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <img class="img-avatar img-avatar48" src="assets/img/avatars/avatar9.jpg" alt="">
                                        </td>
                                        <td class="font-w600">Example SSID</td>
                                        <td class="hidden-xs">client3@example.com</td>
                                        <td class="hidden-xs hidden-sm">
                                            <span class="label label-info">Business</span>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="" data-original-title="Remove Client"><i class="fa fa-times"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <img class="img-avatar img-avatar48" src="assets/img/avatars/avatar12.jpg" alt="">
                                        </td>
                                        <td class="font-w600">Example SSID</td>
                                        <td class="hidden-xs">client4@example.com</td>
                                        <td class="hidden-xs hidden-sm">
                                            <span class="label label-danger">Disabled</span>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="" data-original-title="Remove Client"><i class="fa fa-times"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <img class="img-avatar img-avatar48" src="assets/img/avatars/avatar10.jpg" alt="">
                                        </td>
                                        <td class="font-w600">Example SSID</td>
                                        <td class="hidden-xs">client5@example.com</td>
                                        <td class="hidden-xs hidden-sm">
                                            <span class="label label-info">Business</span>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="" data-original-title="Remove Client"><i class="fa fa-times"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>