<!-- Page Container -->
        <!--
            Available Classes:

            'enable-cookies'             Remembers active color theme between pages (when set through color theme list)

            'sidebar-l'                  Left Sidebar and right Side Overlay
            'sidebar-r'                  Right Sidebar and left Side Overlay
            'sidebar-mini'               Mini hoverable Sidebar (> 991px)
            'sidebar-o'                  Visible Sidebar by default (> 991px)
            'sidebar-o-xs'               Visible Sidebar by default (< 992px)

            'side-overlay-hover'         Hoverable Side Overlay (> 991px)
            'side-overlay-o'             Visible Side Overlay by default (> 991px)

            'side-scroll'                Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (> 991px)

            'header-navbar-fixed'        Enables fixed header
        -->
        <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
            <!-- Side Overlay-->
            <% include admin-side-overlay.ejs %>
            <!-- END Side Overlay -->

            <!-- Sidebar -->
            <% include admin-nav-sidebar.ejs %>
            <!-- END Sidebar -->

            <!-- Header -->
            <% include admin-header.ejs %>
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Header -->
                <div class="content bg-gray-lighter">
                    <div class="row items-push">
                        <div class="col-sm-7">
                            <h1 class="page-heading">
                                SuperMesh <small>WiFi Settings</small>
                            </h1>
                        </div>
                        <div class="col-sm-5 text-right hidden-xs">
                            <ol class="breadcrumb push-10-t">
                                <li>Settings</li>
                                <li><a class="link-effect" href="">WiFi</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- END Page Header -->

                <!-- Start Header white border -->

                <div class="content bg-white border-b">
                    <div class="row items-push text-uppercase">
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">Connected To</div>
                            
                            <a class="h4 font-w300 text-primary animated flipInX" id="wlan1_ssid">SSID</a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">IP Address</div>
                            
                            <a class="h4 font-w300 text-primary animated flipInX" id="wlan1_ipaddr">IP_ADDR</a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">Subnet Mask</div>
                            
                            <a class="h4 font-w300 text-primary animated flipInX" id="wlan1_subnet">SUBNET</a>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="font-w700 text-gray-darker animated fadeIn">Route</div>
                            
                            <a class="h4 font-w300 text-primary animated flipInX" id="wlan1_ieee">IEEE</a>
                        </div>
                    </div>
                </div>

                <!-- END Header white border -->

                <!-- Page Content -->
                <div class="content">

                <!-- WiFi Settings Form -->
                <% include wifi-settings-form.ejs %>
                <!-- END WiFi Settings Form -->

                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            <% include admin-footer.ejs %>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->