[Unit]
Description=SuperMesh v0.0.2e

[Service]
ExecStart=/usr/bin/node ./bin/www
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=SuperMESH
#User=root
#Group=root
Environment=NODE_ENV=production PORT=3000
WorkingDirectory=/opt/SuperMesh

[Install]
WantedBy=multi-user.target